body, html {
  height: 100%;
  background-image: url("/itmd362-Project1/picfldr/bkgr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: silver;
  overflow-x: hidden;
}

.menu a {
  padding: 6px 6px;
  text-decoration: underline;
  font-size: 25px;
  color: black;
  display: block;
}

.menu a:hover {
  color: black;
}

.layout {
  width: 300px;
  padding: 150px;
  border: 10px solid orange;
  margin: auto;
  background-color: white;
}

.pgintr {
width: 300px;
padding: 140px;
border: 10px solid orange;
margin: auto;
background-color: white;
}

.pgintr h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.pgintr h2 {
  font-size: 15px;
  font-weight: bold;
}

.pgintr p {
  text-align: justify;
}

.des p {
  font-weight: bold;
  color: black;
}

.opt {
  text-align: center;
}

#usrname {
  background-color: white;
  color: black;
  text-align: center;
}

#usremail {
  background-color: white;
  color: black;
  text-align: center;
}
