body, html {
  height: 100%;
  background-image: url("/itmd362-Project1/picfldr/skyline.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(210, 210, 210, 0.3);
  overflow-x: hidden;
}

.menu a {
  padding: 6px 6px;
  text-decoration: underline;
  font-size: 25px;
  color: black;
  display: block;
}

.menu a:hover {
  color: black;
}

.layout {
  width: 300px;
  padding: 150px;
  border: 10px solid orange;
  margin: auto;
  background-color: white;
}

.des p {
  font-weight: bold;
  color: black;
}

.opt {
  text-align: center;
}

#usrname {
  background-color: white;
  color: black;
  text-align: center;
}

#usremail {
  background-color: white;
  color: black;
  text-align: center;
}

/*#submit:hover {
  transition-duration: 0.3s;
  display: inline-block;
  background-color: white;
  color: black;
  font-size: 24px;
  text-align: center;
  margin: auto;*/
}
