html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom, white, black);
  background-repeat: no-repeat;
}

/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}*/

h1 {
  border-style: solid;
  border-width: 5px;
  background-color: white;
  color: black;
  text-align: center;
}

p {
  border-style: solid;
  border-width: 5px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  color: black;
}

  #usrname {
  background-color: yellow;
  color: black;
  text-align: center;
}

  #usremail {
  background-color: yellow;
  color: black;
  text-align: center;
}

 #submit:hover {
  transition-duration: 0.3s;
  display: inline-block;
  background-color: grey;
  color: black;
  font-size: 24px;
  text-align: center;
  margin: auto;
}
